<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>City</title>
	
	<!-- bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/styles.css">
	<!-- jquery -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

    <!-- handlebars -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.min.js"></script>
  	<!-- vendor scripts -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!-- custom script -->
  <script type="text/javascript" src="/js/app.js"></script>

</head>
<body>
  <div class="background">
      <div class="container">
        <h1>SPOTHOLE</h1>
        <p>Recently Reported Potholes</p>
      </div>
    </div>
</body>
</html>