<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>SPOTHOLES</title>
</head>
<body>
	<!-- bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/styles.css">
	<!-- jquery -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

    <!-- handlebars -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.min.js"></script>
  	<!-- vendor scripts -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!-- custom script -->
  <script type="text/javascript" src="/js/app.js"></script>

  <h1>
  	Choose Your City
  </h1>
  	<select class="dropdownCities" id="dropdownMenu">
			 <!-- handlebars template -->
              <script id="dropdown-template" type="text/x-handlebars-template">
                  {{#each city}}
                <option class="city" data-id="{{_id}}">
                  {{Name}},{{State}}
                  </div>
                </option>
              {{/each}}
          </script>
		</select>
    <button class="submit" type="submit" value="send" id="renderCity">Go</button>
  	</div>
  	<div>
  		Don't see your city here?  <button type="button" id='hiddenForm'>Add it!</button> 
    </div>


    <div id='cityShow'>
    <section id="cityAdd">
    <fieldset>
  		<form id="formData">
  			<input id="cityForm" type="text" name="Name" placeholder="your city">
        <input id="stateForm" type="text" name="State" placeholder="your state">
        <button class="submit" id="createButton" type="submit" name="button" value="send">Add City</button>
  		</form>
      </fieldset> 
      </section>
  	</div>
</body>
</html>