<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>POTHOLES</title>
</head>
<body>
	<!-- bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/styles.css">
	<!-- jquery -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

    <!-- handlebars -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.min.js"></script>
  	<!-- vendor scripts -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!-- custom script -->
  <script type="text/javascript" src="/js/app.js"></script>

  <h1>
  	Choose Your City
  </h1>
  	<div>
		<select class="dropdownCities">
			<option value="San Diego">San Diego</option>
			<option value="Irvine">Irvine</option>
			<option value="Los Angeles">Los Angeles</option>
			<option value="Riverside">Riverside</option>
			<option value="Merced">Merced</option>
			<option value="Santa Barbara">Santa Barbara</option>
			<option value="Santa Cruz">Santa Cruz</option>
			<option value="San Francisco">San Francisco</option>
			<option value="Berkeley">Berkeley</option>
			<option value="Davis">Davis</option>
		</select>
    <button class="submit" type="submit" value="send" id="renderCity">Go</button>
  	</div>
  	<div>
  		Don't see your city here?  <button type="button" id='hiddenForm'>Add it!</button> 
    </div>
    <div id='cityShow'>
  		<form id="cityAdd">
  			<input id="cityForm" type="text" placeholder="your city">
        <button class="submit" type="submit" value="send">Add City</button>
  		</form> 
  	</div>
</body>
</html>