<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Make Template Later</title>
	<!-- bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  
	<!-- jquery -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

    <!-- handlebars -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.min.js"></script>
  	<!-- vendor scripts -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!-- custom script -->
  <script type="text/javascript" src="/js/appPotholes.js"></script>
</head>
<body>
<p id="renderReports">
<!-- handlebars template -->
			        <script id="report-template" type="text/x-handlebars-template">
			          	{{#each report}}
				  			<div class="list-group-item city" data-id="{{_id}}">
				    			
				    			<div class="body">
				    				
				    				{{crossStreet1}}
				      				{{crossStreet2}}
				      				{{status}} <input type="button" id="deleteButton" data-id="{{_id}}" value="delete"/>
				    			</div>
				  			</div>
			  			{{/each}}
					</script>
</p>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Report New Pothole
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Report Pothole</h4>
      </div>
      <div class="modal-body" >
      <form id="reportForm">
        <input id="crossStreetForm1" name="crossStreet1" type="text" placeholder="123 fake street">
        <input id="crossStreetForm2" name="crossStreet2"type="text" placeholder="123 fake street">
        <input type="checkbox" name="status" value="Fixed" id="fixed">is the pothole fixed?<br>
	  </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="reportButton" class="btn btn-primary">Report Pothole</button>
</body>
</html>